<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Название проекта</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="robots" content="noindex, nofollow">
  </head>
  <body>

    {{> header}}

    <script src="js/app.js" async></script>
  </body>
</html>
